b {
    color: #E3CC81;
    padding-left: 620px;
    padding-bottom: 200px;
    font-size: x-large;
}

p {
    color: #10a690;
    text-align: center;
    font-size: large;
}

body {
    background-color: #1166a3;
}